name: ci
on:
  # pull_request:
  #   branches:
  #     - main
  # - config/dependabot
  push:
    branches:
      - prod
  workflow_dispatch:

jobs:
  build-and-show-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Show Files
        run: |
          ls -al
