name: update_space_shooter_game
on:
  # schedule:
  #   - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-game:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: czl9707/gh-space-shooter@v1
        with:
          github-token: ${{ secrets.METRICS_TOKEN }}
          output-path: 'game.gif'
          strategy: 'random'